<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
</div>
<div class="row mb-2">
    <div class="col-12">
        <a class="btn btn-primary" href="/admin/products/0/create">Create</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr class="text-center">
                    <th>Image</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Short description</th>
                    <th>Category</th>
                    <th>Sale price</th>
                    <th>Original price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr onclick="productDetail('{{_id}}')" class="table-link">
                    <td><img src="{{image}}" class="img-fluid"></td>
                    <td class="text-center">{{_id}}</td>
                    <td>{{name}}</td>
                    <td>{{shortDescription}}</td>
                    <td>{{categoryId}}</td>
                    <td>{{salePrice}}</td>
                    <td>{{originalPrice}}</td>
                    <td>
                        <button class="btn btn-sm btn-light mb-1" onclick="productDetail('{{_id}}')"><i
                                class="far fa-eye"></i></button>
                        <button class="btn btn-sm btn-info mb-1" onclick="editProduct('{{_id}}')"><i
                                class="far fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" onclick="deleteProduct('{{_id}}')"><i
                                class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    function productDetail(id) {
        location.href = "/admin/products/" + id + "/view";
    }

    function editProduct(id) {
        location.href = "/admin/products/" + id + "/edit";
    }

    function deleteProduct(id) {
        var result = confirm('Are you sure you want to delete?');

        if (result) {
            $.ajax({
                type: 'DELETE',
                url: '/admin/products/' + id,
                processData: false,
                contentType: 'application/merge-patch+json',

                /* success and error handling omitted for brevity */
            });
        }
    }
</script>