<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr class="text-center">
                    <th>Avatar</th>
                    <th>Id</th>
                    <th>Full name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Zip code</th>
                    <th>Role</th>
                    <th>Email verified</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr onclick="userDetail('{{_id}}')" class="table-link">
                    <td><img src="{{avatar}}" class="img-fluid"></td>
                    <td class="text-center">{{_id}}</td>
                    <td>{{firstName}} {{lastName}}</td>
                    <td>{{dob}}</td>
                    <td>{{gender}}</td>
                    <td>{{phoneNumber}}</td>
                    <td>{{email}}</td>
                    <td>{{country}}</td>
                    <td>{{zipcode}}</td>
                    <td>{{role}}</td>
                    <td><input type="checkbox" checked="{{emailVerified}}" disabled></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    function userDetail(id) {
        location.href = "/api/users/" + id;
    }
</script>