<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">{{title}} #{{user._id}}</h1>
</div>
<div class="row">
    <div class="col-9">
        <form action="{{actionPath}}" method="POST" onsubmit="processForm()">
            <input type="hidden" name="_method" value="{{_method}}">
            <div class="row">
                <div class="col-6 form-group">
                    <label>First name</label>
                    <input type="text" name="firstName" value="{{user.firstName}}" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label>Last name</label>
                    <input type="text" name="lastName" value="{{user.lastName}}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label>DOB</label>
                    <input type="date" name="strDOB" value="{{user.strDOB}}" class="form-control"
                        onblur="getDOB(this.value)">
                    <input type="hidden" id="hfDOB" name="dob" value="{{user.dob}}">
                </div>
                <div class="col-6 form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                        {{#select user.gender}}
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label>Phone number</label>
                    <input type="tel" name="phoneNumber" value="{{user.phoneNumber}}" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label>Email</label>
                    <input type="email" name="email" value="{{user.email}}" class="form-control">
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="checkbox" name="chkEmailVerified"
                            checked={{user.emailVerified}}>
                        <label class="form-check-label" for="chkEmailVerified">Email verified</label>
                        <input type="hidden" id="emailVerified" name="emailVerified" value="{{user.emailVerified}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label>Country</label>
                    <input type="text" name="country" value="{{user.country}}" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label>Zipcode</label>
                    <input type="text" name="zipcode" value="{{user.zipcode}}" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label>Username</label>
                    <input type="text" name="username" value="{{user.username}}" class="form-control">
                </div>
                <div class="col-6 form-group">
                    <label>Role</label>
                    <select class="form-control" name="role">
                        {{#select user.role}}
                        <option value="admin">Admin</option>
                        <option value="moderator">Moderator</option>
                        <option value="user">User</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            {{#unless isDisabled}}
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            {{/unless}}
        </form>
    </div>
    <div class="col-3">
        <img src="{{user.avatar}}" class="rounded-circle img-fluid">
        <h5 class="text-center text-primary mt-2">{{user.firstName}} {{user.lastName}}</h4>
    </div>
</div>

<script>
    $(document).ready(function () {
        var isDisabled = '{{isDisabled}}';

        if (isDisabled === 'true') {
            $('.form-control').prop('disabled', true);
        } else {
            $('.form-control').prop('disabled', false);
        }

        $('#emailVerified').val(true);

        $('input[name="chkEmailVerified"]').change(function () {
            $('#emailVerified').val(this.checked);
        });
    });

    function getDOB(strDOB) {
        if (strDOB != null || strDOB != '')
            $('#hfDOB').val(new Date(strDOB));
    }

    function processForm() {
        if ($('input[name="_method"').val() === "PATCH") {
            var formData = new FormData(document.querySelector('form'))
            var body = formData.body;
            $.ajax({
                type: 'PATCH',
                url: '/admin/users/' + id,
                body: JSON.stringify(body),
                processData: false,
                contentType: 'application/merge-patch+json',

                /* success and error handling omitted for brevity */
            });
        } else return true;
    }
</script>