<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
</div>
<div class="row mb-2">
    <div class="col-12">
        <a class="btn btn-primary" href="/admin/users/0/create">Create</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr class="text-center">
                    <th>Avatar</th>
                    <th>Full name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Zip code</th>
                    <th>Role</th>
                    <th>Email verified</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr class="table-link">
                    <td><img src="{{avatar}}" class="img-fluid"></td>
                    <td>{{firstName}} {{lastName}}</td>
                    <td>{{strDOB}}</td>
                    <td>{{gender}}</td>
                    <td>{{phoneNumber}}</td>
                    <td>{{email}}</td>
                    <td>{{country}}</td>
                    <td>{{zipcode}}</td>
                    <td>{{role}}</td>
                    <td><input type="checkbox" checked="{{emailVerified}}" disabled></td>
                    <td>
                        <button class="btn btn-sm btn-light mb-1" onclick="userDetail('{{_id}}')"><i
                                class="far fa-eye"></i></button>
                        <button class="btn btn-sm btn-info mb-1" onclick="editUser('{{_id}}')"><i
                                class="far fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" onclick="deleteUser('{{_id}}')"><i
                                class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    function userDetail(id) {
        location.href = "/admin/users/" + id + "/view";
    }

    function editUser(id) {
        location.href = "/admin/users/" + id + "/edit";
    }

    function deleteUser(id) {
        var result = confirm('Are you sure you want to delete?');

        if (result) {
            $.ajax({
                type: 'DELETE',
                url: '/admin/users/' + id,
                processData: false,
                contentType: 'application/merge-patch+json',

                /* success and error handling omitted for brevity */
            });
        }
    }
</script>